home-assistant_v2.db
ownshit/*
secrets.yaml
tts/*
fitbit.conf
*.log
..gitignore.swp
.storage/
.uuid
deps/
harmony_harmony_hub.conf
known_devices.yaml
mysensbackup.json
mysensors1.json
mysensors1.pickle
plex.conf
sparsnas_mqtt.yaml
packages/README.md
packages/.gitignore
